<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
<script src="https://kit.fontawesome.com/bb2b450143.js"></script>
<script>
   function validateForm(form) { 
        if (form['name'].value.match(/[0-9]/)) { 
            alert("Avoid numbers in the name field, please."); 
            form['name'].focus(); 
            return false; 
        } 
        return true; 
      }  
</script>
<script>
  function myFunction() {
  var password = document.querySelector('input[name=password]').value;
  var confirm = document.querySelector('input[name=password2]').value;
  var matchedOrNot = (confirm == password) ? "Password matched" : "Password not matched"; 
  var color = (matchedOrNot == "Password matched") ? "green" : "red";
  document.getElementById("toggleconfirmPassword").className = color;
  document.getElementById("toggleconfirmPassword").innerHTML = matchedOrNot;
    var pass1 = document.getElementById('password');
    var pass2 = document.getElementById('cpassword');
    var message = document.getElementById('error-nwl');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    if(pass1.value.length > 5)
    {
        pass1.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "character number ok!"
    }
    else
    {
        pass1.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = " you have to enter at least 6 digit!"
        return;
    }
  
    if(pass1.value == pass2.value)
    {
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "ok!"
    }
	else
    {
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = " These passwords don't match"
    }
}
</script>
</body>
</html>